#ignore bloatfiles in FrontEnd diretory
FrontEnd/lib
FrontEnd/bin
FrontEnd/include
FrontEnd/__pycache__

#ignore bloatfiles in Authenticator diretory
Authenticator/lib
Authenticator/bin
Authenticator/include
Authenticator/__pycache__

#ignore bloatfiles in Certtrust diretory
Certtrust/lib
Certtrust/bin
Certtrust/include
Certtrust/__pycache__

#ignore bloatfiles in DataStore diretory
DataStore/lib
DataStore/bin
DataStore/include
DataStore/__pycache__