{% extends "base.html" %}
{% block title %}SCADA Sensor Analyzer{% endblock %}
{% block content %}
<!--------------------------->
<!-- Information System warning overlay via JS-->
<!--------------------------->


<div>
    <div class="row">
      <!--------------------------->
      <!-- Auth -->
      <!--------------------------->
      <form name="auth" action="/auth" method="POST">
      <div class="col-md">
        <h3> Select PKI User</h3>
        <select name="pkiUser" id="pki">
          <option value="none" selected disabled hidden>Select an Option</option>
          {% for item in list %}
            <option value="{{ item['dn'] }}">{{ item['dn'] }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-md">
        <input type="text" name="selected-user" id="selected-user" />
      </div>
      <div class="col-md">
        <div>
          <h3>Pin</h3>
          <input name="pin" type="password" />
        </div>
      </div>
      <div class="col-md">
        <button type="submit" id="form_button" class="btn btn-danger">Submit</button>
      </div>
      </form>
      <!--------------------------->
      <!-- End Auth -->
      <!--------------------------->
    </div>
    <div class="row">
      
    </div>
  </div>
  <script>
    document.getElementById('pki').addEventListener('change', function() {
    document.getElementById('selected-user').value=this.value;
    document.getElementById('selected-user').readOnly=true;
});
  </script>
{% endblock%}
