{% extends "base.html" %}
{% block title %}SCADA Sensor Analyzer{% endblock %}
{% block content %}
<!--------------------------->
<!-- Information System warning overlay via JS-->
<!--------------------------->

<!--------------------------->
<!-- LOGIN -->
<!--------------------------->
<div>
    <div class="row">
      <form name="authForm" id="auth" action="/" method="POST">
      <div class="col-md">
        <h3> Select PKI User</h3>
        <select name="pkiUser" id="pki">
          <option value="none" selected disabled hidden>Select an Option</option>
          {% for item in list %}
            <option value="{{ item['dn'] }}">{{ item['dn'] }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-md">
        <input type="text" id="selected-user" />
      </div>
      <div class="col-md">
        <div>
          <h3>Pin</h3>
          <input type="password" />
        </div>
      </div>
      <div class="col-md">
        <button type="submit" class="btn btn-danger">Submit</button>
      </div>
      </form>
    </div>
    <div class="row">
      
    </div>
  </div>
  <script>
    document.getElementById('pki').addEventListener('change', function() {
    document.getElementById('selected-user').placeholder=this.value;
    document.getElementById('selected-user').readOnly=true;
});
  </script>
{% endblock%}
